@import 'reset';
/*функция*/
/*@use reset;*/
@mixin transform($property) {
    display: $property;
}

.block {
    @include transform(block)
}

.message {
    @extend %inherit;
}


ul, ol {
    text-align: 
    & & {
        padding: {
            bottom: 0;
            left: 0;
        };
    };
}

@for $i from 1 through 3{
    ul:nth-child(3n + #{$i}) {
        background-color: lighten($base-color, $i * 5);
    }
}

p {
    @include does-parent-exist;
    cursor: pointer;
}